@model IEnumerable<FerroShop.Controllers.Banner>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestion de banner</h1>

<p>
    <a asp-action="Create">Subir nuevo banner</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BannerId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.BannerId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.BannerId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
